<div id="NotFoundView" class="bg-dark p-2 text-white text-center">
    <div class="img">
        <img src="assets/images/backToTheHomepage.webp" alt="Back to the Homepage" />
        <img src="assets/images/Delorean.webp" alt="El Delorean, El Doc y Marti McFly" />
    </div>
    <h1>404</h1>
    <h2>PAGE NOT FOUND</h2>
    <h3>BACK TO HOME?</h3>
    <div class="fs-5">
        <a href="/">YES</a>
        <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo" target="_blank">NO</a>
    </div>

</div>